$white: #fefefe;
$white-blue: rgb(100, 120, 255);
$cop-blue: rgb(23, 27, 48);
$cop-lt-blue: rgb(70, 84, 105);
$cherry: #f60f33;
$taupe: #aa9;
$badge-gold: #ff7;
$black: rgb(10, 12, 12);

@mixin easeOut {
  transition: 0.6s ease-in all;
}

@mixin imgFade {
  background-size: cover;
  transition: ease-in-out all 0.5s;
}

@mixin gradientWhite {
  background: linear-gradient($white, $white-blue);
}

@mixin gradientBlue {
  background: linear-gradient($cop-blue, $cop-lt-blue);
}
