@import "config";
@import "menu";

/* UNIVERSAL STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px; // default font-size so we can use em units throughout
  font-family: "Roboto", sans-serif;

  background: url("../img/background-vertical.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: $badge-gold;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
  color: $white;
}

nav {
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  width: 90%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  @include easeOut;

  li {
    width: 20em;
    text-align: center;
  }
  img {
    width: 50%;
    justify-self: center;
  }

  a {
    text-align: center;
    padding: 1em;
    color: $white;
    width: 100%;
    margin: 0 auto;

    &:hover {
      color: $badge-gold;
      @include easeOut;
    }
  }
}

main {
  display: grid;
  grid-row-gap: 2em;
  margin: 1em auto;
}
// large text headers, three decks, with a small paragraph on the second deck
.banner {
  display: grid;
  grid-template-areas:
    "head head head"
    "mid-1 mid-2 mid-2"
    "foot foot foot";
  width: 70%;
  margin: 0 auto;

  h1 {
    font-size: 13.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
  }

  .ban-head {
    grid-area: head;
  }

  .ban-mid {
    grid-area: mid-1;
  }

  .ban-para {
    grid-area: mid-2;
    padding: 0 10%;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    font-size: 2.4em;
    letter-spacing: 2px;
    width: 100%;
    padding: auto 20%;
  }

  .ban-foot {
    grid-area: foot;
    color: $cop-blue;
  }
}

.operation-hours {
  background: $white;
  color: $cherry;

  p {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
  }
}

footer {
  background: $cop-blue;
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-row-gap: 1em;
  font-size: 2.4em;
  padding: 2em;
  margin: 0 auto;
  width: 90%;

  h3 {
    color: $badge-gold;
  }

  h3:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  h3:nth-of-type(2) {
    grid-column: 2 /4;
    grid-row: 1;
  }

  ul {
    a {
      color: $white;
      font-size: 0.8em;

      &:hover {
        @include easeOut;
        color: $badge-gold;
      }
    }

    &:nth-of-type(1) {
      grid-row: 2;
      grid-column: 1;
    }
    &:nth-of-type(2) {
      grid-row: 2;
      grid-column: 2;
    }

    &:nth-of-type(3) {
      grid-row: 2;
      grid-column: 3;
    }

    &:nth-of-type(4) {
      grid-row: 2;
      grid-column: 4;
    }
  }
}

// teasers consisting of a circle image, header, small paragraph of text
.circles {
  background: linear-gradient($white-blue, $cop-blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 1em auto;
  padding: 2em;
  color: $white;

  .node {
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;

    h3 {
      display: block;
      font-size: 3em;
      text-align: center;
      margin: 0 auto;
      width: auto;
    }

    img {
      border-radius: 0.2em;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    p {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0.7em auto 0 auto;
    }
  }
}

.contact {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80em 1fr;

  grid-column-gap: 2em;
  grid-row-gap: 0.7em;
  width: 90%;
  background: linear-gradient($cop-blue, $cop-lt-blue);
  padding: 2em;
  border-radius: 0.3em;

  p {
    color: $white;
    font-size: 1.4em;
  }

  h2 {
    color: $badge-gold;
    font-size: 3.8em;
  }

  img {
    grid-column: 1;
    grid-row: 1;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
  }

  form {
    grid-column: 2;
    grid-row: 1;

    width: 100%;
    height: 100%;
    padding: 1em;
  }
  ul {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    height: 100%;

    justify-content: space-evenly;

    input {
      width: 100%;
      padding: 0.5em;
    }

    label {
      color: $white;
      padding-bottom: 1em;
    }
  }
}
// slide-show styles

.slide {
  margin: 0 auto;
  background: $white;
  padding: 1em;
  max-width: 100%;

  &.show {
    transform: translate3d(2000px, 0, 0);
    @include easeOut;
  }

  &.hide {
    transform: translate3d(-2000px, 0, 0);
    @include easeOut;
  }
}

/* Image carousel STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/

#image-main {
  @include imgFade;
  width: 100%;
  min-height: 40em;
}

.one {
  background: url("../img/1.jpg");
  @include imgFade;
}

.two {
  background: url("../img/2.jpg");
  @include imgFade;
}

.three {
  background: url("../img/3.jpg");
  @include imgFade;
}

.four {
  background: url("../img/4.jpg");
  @include imgFade;
}

.five {
  background: url("../img/5.jpg");
  @include imgFade;
}

.six {
  background: url("../img/6.jpg");
  @include imgFade;
}

.seven {
  background: url("../img/7.jpg");
  @include imgFade;
}

/* Sticky navbar STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/

// to be applied with JS when user scrolls down page
.nav-links.sticky {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  @include easeOut;

  background: $white-blue;
  color: $cop-blue;

  .nav-logo {
    color: white;
  }

  a {
    @include easeOut;
  }
  a:hover {
    background: $cop-blue;
    border-radius: 1em;
  }
}
