@import "config";

/* UNIVERSAL STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url("/dist/img/background-vertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-self: center;
    color: $white;
}

nav {
    
    min-height: 9em;
    width: 100%; 
    padding: 0;
    
}

.nav-links { 
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    flex-flow: row;
    padding: 0; 
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 2rem;
    
    

    a {
        text-align: center;
        padding: 10px;
        color: $white;
        width: 100%;
        margin: 0 auto;
        border-radius: 2px;

        &:hover {
            
            color: $badge-gold;
            @include easeOut;
        }
}
}

// large text headers, three decks, with a small paragraph on the second deck
.banner {
    display: grid;
    grid-template-areas: "head head head"
        "mid-1 mid-2 mid-2"
        "foot foot foot";
    width: 70%;
    margin: 0 auto;

    h1 {
        font-size: 132px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    h4 {
        font-size: 24px;
        letter-spacing: 2px;
        width: 100%;
    }

    :nth-child(1){
        grid-area: head;
        
    }

    :nth-child(2){
        grid-area: mid-1;
    }

    :nth-child(3){
        grid-area: mid-2;
        padding: 0 10%;
    }
    :nth-child(4){
        grid-area: foot;
        color: $cop-blue;
    }
}

.operation-hours {
background: $white;
color: $cherry;

p {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
}
}

.footer-main {
    background: $cop-blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    color: $white;
}

.footer-col-1 {
margin-right: 20px;

}

.footer-col-2 {
    margin-right: 10px;
    display: grid;
    grid-template-areas: "header header header"
    "column1 column2 column3";

    h3 {
        grid-area: header;
    }

    ul:first-of-type {
        grid-area: column1;
    }

    ul {
        grid-area: column2;
    }
    ul:last-of-type {
        grid-area: column3;
    }

}

// teasers consisting of a circle image, header, small paragraph of text
.circles {
    background: $white;
    display: flex;
    align-content: center;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;

    .node {
        display: block;
        padding: 10px;
        text-align: center;

        img {
            border-radius: 50%;
            width: 80%;
            margin: 0 auto;

        }
        
        p {
            width: 80%;
            
        }
    }
} 

// breakout boxes paired with a picture for an officer's biography or story snippet
.bio-card {
    
    padding: 10px;
    
    width: 300px;
    text-align: center;

    // alternate color schemes of cards
    &:nth-of-type(odd) {
        background: $cop-blue;
        color: $white;
        margin: 0 20% 0 0;
    }

    &:nth-of-type(even){
        background: $white;
        color: $cop-blue;
        margin: 0 80% 0 0;
    }

}

/* RESOURCE STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/




/* HOW DO I ... STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/



/* SERVICES STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/


/* OUR DEPARTMENT STYLES ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/

@import "mobile";
